* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
}

*::selection {
    background: white;
    color: #3275DB;
}

:root {
    font-size: 16px;
    /* 1rem = 16px */
}

/* Header */

header {
    width: 100%;
    height: 10vh;
    background: #3275DB;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}


header nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
   
}

header nav .logo {
    padding-top: 13px;
}

header nav .logo a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

header nav ul {
    display: flex;
    gap: 40px;
    padding-top: 25px;
}

nav ul {
    display: flex;
    gap: 25px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #c9eef8;
}

ul li a.active {
    border-bottom: 2px solid white;
    font-weight: bold;
}

#hamburger {
    display: none;
    padding-top: 20px;
    font-size: 2rem;
    color: white;
}

@media (max-width:768px) {
    #hamburger {
        display: block;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #3275DB;
        position: fixed;
        top: 64px;
        left: -100%;
        box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.1);
        transition: 0.5s ease-in-out;
        z-index: 999;
    }

    ul.show {
        left: 0;
    }

}

 .hero{
    width: 100%;
    height: 90vh;
    background-image: url(/images/8056e5f46c88b432ea4ea35cd75fb5f6.jpg); 
    background-size: cover;
    object-fit: cover;
     position: relative; 
     z-index: -1;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
}
.hero::before{
content: '';
 position: absolute; 
width: 100%;
height: 100%;
background: linear-gradient(rgba(5, 56, 120, 0.5), rgba(3, 44, 114, 0.5));
z-index: -1;
}  
.hero-content{

}