* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100%;
}

button,
i {
    cursor: pointer;
}

*::selection {
    background: white;
    color: #3275DB;
}

:root {
    font-size: 16px;
    /* 1rem = 16px */
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'MontserratLight';
    src: url('/fonts/Montserrat-Light.ttf');
}


/* Header */

header {
    width: 100%;
    height: 10vh;
    background: #3275DB;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}


header nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 35px;

}

header nav .logo {
    padding-top: 13px;
}

header nav .logo a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

header nav ul {
    display: flex;
    gap: 30px;
    padding-top: 25px;
}

nav ul {
    display: flex;
    gap: 25px;
}


nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #c9eef8;
}

ul li a.active {
    border-bottom: 2px solid white;
    font-weight: bold;
}

#hamburger {
    display: none;
    padding-top: 20px;
    font-size: 2rem;
    color: white;
}

@media (max-width:768px) {
    #hamburger {
        display: block;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #3275DB;
        position: fixed;
        top: 64px;
        left: -100%;
        box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.1);
        transition: 0.5s ease-in-out;
        z-index: 999;
    }

    ul.show {
        left: 0;
    }

}

.hero {
    width: 100%;
    height: 90vh;
    background-image: url(/images/HeroSection.jpg);
    background-size: cover;
    object-fit: cover;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(5, 56, 120, 0.5), rgba(3, 44, 114, 0.5));
    z-index: -1;
}

.hero-content {
    color: white;
}

.hero-content h1 {
    font-family: 'Montserrat';
    font-size: 3rem;
    line-height: 1.2;
}

.hero-content h4 {
    font-family: 'MontserratLight';
    font-size: 1.5rem;
    line-height: 1.4;
}

.hero-btn {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.hero-btn button {
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background: #3275DB;
    border: none;
    font-family: 'MontserratLight';
    font-size: 1.3rem;
    border-radius: 7px;
    font-weight: 900;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: 0.5s ease-in-out;
    border: 2px solid #3275DB;
    outline: none;   
}
.hero-btn button a{
    color: wheat;
}
.hero-btn button:nth-child(2){
    background: transparent;
}
.hero-content button:nth-child(2):hover {
    background: #3275DB;
    border: 2px solid #3275DB;
}
.hero-content button:nth-child(1):hover {
    background: transparent;
    border: 2px solid #3275DB;
}